omat_train:
  splits:
    train:
      src:
        - ${cluster.data_root_dir}/fm_training/alex-10M/train/
        - ${cluster.data_root_dir}/fm_training/mptrj_ue/train/
        - ${cluster.data_root_dir}/fm_training/mptrj_ue/train/
        - ${cluster.data_root_dir}/fm_training/mptrj_ue/train/
        - ${cluster.data_root_dir}/fm_training/mptrj_ue/train/
        - ${cluster.data_root_dir}/fm_training/mptrj_ue/train/
        - ${cluster.data_root_dir}/fm_training/mptrj_ue/train/
        - ${cluster.data_root_dir}/fm_training/mptrj_ue/train/
        - ${cluster.data_root_dir}/fm_training/mptrj_ue/train/
  format: ase_db
  a2g_args:
    r_energy: True
    r_forces: True
    r_stress: ${regress_stress}
    r_edges: ${cpu_graph}
    radius: ${cutoff_radius}
    max_neigh: ${max_neighbors}
  key_mapping:
    energy: omat_energy
    forces: ${omat_forces_key}
    stress: omat_stress
  transforms:
    common_transform:
      dataset_name: omat
    stress_reshape_transform:
      dataset_name: omat

omat_val:
  splits:
    val:
      src: ${cluster.data_root_dir}/fm_training/mptrj_ue/val/
  format: ase_db
  a2g_args:
    r_energy: True
    r_forces: True
    r_stress: ${regress_stress}
    r_edges: ${cpu_graph}
    radius: ${cutoff_radius}
    max_neigh: ${max_neighbors}
  key_mapping:
    energy: omat_energy
    forces: ${omat_forces_key}
    stress: omat_stress
  transforms:
    common_transform:
      dataset_name: omat
    stress_reshape_transform:
      dataset_name: omat
